/* @import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Pacifico|Open+Sans:300'); */
@font-face {
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    src: url(./1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

 @keyframes logo-bob {
	 0% {
		 top: 1.125rem;
	}
	 50% {
		 top: 1.6071428571rem;
	}
	 100% {
		 top: 1.125rem;
	}
}
 body {
	 font-family: 'Julius Sans One', sans-serif;
	 background: #fff;
}
 .canvas-webgl {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
	 z-index: 1;
	 /* width: 1100px !important;
	 height: 650px !important; */
	 border-radius: 10px;
	 overflow: hidden;
	 box-shadow: 0px 13px 45px -15px rgba(0, 0, 0, 0.75);
	 opacity: 0;
	 transition: opacity 2s ease-in;
}
 .canvas-webgl.load {
	 opacity: 1;
}
 .container {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
	 z-index: 2;
	 width: 1100px;
	 height: 650px;
	 overflow: hidden;
	 opacity: 0;
	 transition: opacity 2s ease-in;
	 transition-delay: 2.5s;
}
 .container.load {
	 opacity: 1;
}
 .container .logo {
	 position: absolute;
	 top: 1.125rem;
	 left: 1.25rem;
	 width: 60px;
	 height: 60px;
	 z-index: 2;
	 animation: logo-bob 3s infinite ease-out;
}
 .container .logo img {
	 width: 100%;
	 opacity: 0.3;
	 filter: grayscale(100);
}
 .container .logo .shadow {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
	 bottom: -20px;
	 width: 40%;
	 height: 7px;
	 background: rgba(0, 0, 0, 0.7);
}
 .container .menu {
	 position: absolute;
	 top: 2.25rem;
	 right: 2.5rem;
	 width: 30px;
	 height: 40px;
	 z-index: 1;
}
 .container .menu div {
	 position: absolute;
	 left: 0;
	 height: 1px;
	 width: 100%;
	 background: rgba(0, 0, 0, 1);
	 opacity: 0.45;
	 transition: 0.25s ease-in-out;
	 cursor: pointer;
	 transition: 0.2s ease-out;
}
 .container .menu div.active {
	 left: 80px;
	 transition: 0.2s ease-out;
}
 .container .menu div:nth-child(1) {
	 top: 0px;
}
 .container .menu div:nth-child(2) {
	 top: 7px;
}
 .container .menu div:nth-child(2).active {
	 transition-delay: 0.1s;
}
 .container .menu div:nth-child(3) {
	 top: 14px;
}
 .container .menu div:nth-child(3).active {
	 transition-delay: 0.2s;
}
 .container .menu div:nth-child(4), .container .menu div:nth-child(5) {
	 top: -80px;
	 height: 1px;
	 opacity: 0.5;
	 transition: 0.1s;
}
 .container .menu div:nth-child(4).active, .container .menu div:nth-child(5).active {
	 transition: 0.2s;
	 transition-delay: 0.5s;
	 top: 10px;
}
 .container .menu div:nth-child(4) {
	 transform: rotate(-45deg);
	 left: 100px;
}
 .container .menu div:nth-child(4).active {
	 transition-delay: 0.7s;
	 top: 10px;
	 left: 0;
}
 .container .menu div:nth-child(5) {
	 transform: rotate(45deg);
	 left: -100px;
}
 .container .menu div:nth-child(5).active {
	 transition-delay: 0.6s;
	 left: 0;
}
 .container .header {
    
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
	 width: c-width / 3;
	 height: 200px;
	 text-align: center;
	 z-index: 0;
	 font-size: 3rem;
	 letter-spacing: 2.2px;
	 color: rgba(0, 0, 0, 0.5);
	 line-height: 1.7;
}


.container .links {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.container .link {
    display: block;
    font-size: 1.5rem;
    margin-top: 1rem;
    position: relative;
}

.container .link:hover {
    cursor: pointer;
}

/* .container .link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 50%;
    background: rgba(0, 0, 0, 0.5);

    transition: width 0.25s ease-in;
}

.container .link:hover::after {
    width: 75%;
} */

 .container .header img {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
	 height: 200px;
	 opacity: 0.35;
}
 .container .menu-overlay {
	 z-index: 5;
}
 .container .menu-overlay div {
	 position: absolute;
	 top: 0;
	 width: 50%;
	 height: 100%;
	 transition: 0.3s ease-in;
}
 .container .menu-overlay div.active {
	 transition: 0.4s ease-in;
}
 .container .menu-overlay div:nth-child(1) {
	 background: #edecec;
	 left: -550px;
}
 .container .menu-overlay div:nth-child(1).active {
	 left: 0;
}
 .container .menu-overlay div:nth-child(2) {
	 background: #f0efef;
	 right: -550px;
}
 .container .menu-overlay div:nth-child(2).active {
	 right: 0;
}
 .container .services {
	 position: absolute;
	 top: 32%;
	 left: 14%;
	 width: 50%;
	 height: 60%;
}
 .container .services div {
	 position: absolute;
	 font-size: 1.4rem;
	 font-family: 'Open Sans', sans-serif;
	 opacity: 0;
	 left: -10px;
	 transition-delay: 0;
}
 .container .services div.active {
	 left: 0;
	 transition: 0.7s ease-in;
	 opacity: 0.6;
}
 .container .services div:after {
	 content: '';
	 position: absolute;
	 top: 50%;
	 left: -15px;
	 width: 3px;
	 height: 3px;
	 background: rgba(0, 0, 0, 0.7);
}
 .container .services div:nth-child(1).active {
	 transition-delay: 0.2s;
}
 .container .services div:nth-child(2) {
	 top: 60px;
}
 .container .services div:nth-child(2).active {
	 transition-delay: 0.65s;
}
 .container .services div:nth-child(3) {
	 top: 120px;
}
 .container .services div:nth-child(3).active {
	 transition-delay: 1.1s;
}
 .container .services div:nth-child(4) {
	 top: 180px;
}
 .container .services div:nth-child(4).active {
	 transition-delay: 1.45s;
}
 .container .icon.active, .container .icon-text.active {
	 opacity: 0.75;
	 transition: 1s ease-in-out;
}
 .container .icon {
	 position: absolute;
	 top: 155px;
	 right: 178px;
	 width: 180px;
	 height: 180px;
	 border-radius: 50%;
	 border: solid rgba(255, 255, 255, 0.5) 5px;
	 overflow: hidden;
	 opacity: 0;
	 box-shadow: 0px 0px 185px -50px rgba(0, 0, 0, 0.75);
}
 .container .icon.active {
	 top: 155px;
	 opacity: 0.8;
}
 .container .icon img {
	 width: 100%;
}
 .container .icon-text {
	 position: absolute;
	 top: 355px;
	 right: 0;
	 width: 50%;
	 height: 100px;
	 text-align: center;
	 font-size: 1.8rem;
	 font-family: 'Open Sans', sans-serif;
	 color: rgba(0, 0, 0, 0.6);
	 opacity: 0;
}
 .container .icon-text.active {
	 opacity: 0.75;
}
 .container .icon-text .thankyou {
	 position: absolute;
	 bottom: -10px;
	 width: 100%;
	 font-size: 2rem;
	 font-family: 'Pacifico', cursive;
	 color: rgba(0, 0, 0, .65);
}
 .container .icon-text .thankyou:after {
	 content: '';
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
	 margin: auto;
	 top: -78px;
	 width: 4%;
	 height: 1px;
	 background: rgba(0, 0, 0, 0.5);
}
 